.subscribeContainer {
  padding: 1rem 0;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary);
}

.logoImg {
  width: 150px;
  height: auto;
}

.subscribeInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
}

.subscribeInfo p {
  width: 100%;
  text-align: left;
}

.subscribeForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 20px;
}

.emailInput {
  border: none;
  outline: none;
  width: 310px;
  padding: 12px;
  font-size: 1rem;
  border-radius: 6px;
  padding-left: 35px;
  box-shadow: 0px 2px 16px 2px rgba(0, 0, 0, 0.15);
}

.emailIcon {
  position: absolute;
  left: 8px;
}

@media screen and (max-width: 768px) {
  .subscribeContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 0;
  }
  .subscribeInfo {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .subscribeForm {
    flex-direction: column;
    align-items: flex-start;
  }
  .emailIcon {
    top: 8px;
  }
}
