@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,900&display=swap");
:root {
  --primary: #458ff6;
  --secondary: #c3e2ff;
  --heading: #000000;
  --subheading: #444444;
  --regular: #555555;
}
:root {
  --poster-color: rgba(255, 255, 255, 0);
}
html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth !important;
}

p {
  color: var(--regular);
  font-size: 1.1rem;
  line-height: 1.7rem;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.margin-on-side {
  margin: 0 5%;
}
.text-heading {
  color: var(--heading);
}
.text-subheading {
  color: var(--subheading);
}
.text-primary {
  color: var(--primary);
}
.primary-background {
  background-color: var(--primary);
}
.secondary-background {
  background-color: var(--secondary);
}
.primary-btn,
.secondary-btn {
  border: none;
  outline: none;
  width: fit-content;
  min-width: 120px;
  padding: 12px 20px;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  text-align: center;
}
.primary-btn:hover,
.secondary-btn:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.primary-btn {
  background-color: var(--primary);
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.secondary-btn {
  background-color: transparent;
  color: var(--heading);
  border: 1px solid var(--primary);
}

/* Chat Page Style Starts */
.chat-container {
  background-color: #3c3c3c !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.chat-window {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 90%;
  height: 90vh;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.user-message,
.ai-message {
  margin-bottom: 10px;
  word-wrap: break-word;
}

.input-container {
  display: flex;
  align-items: center;
}

.mic-button,
.submit-button,
.keyboard-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 28px;
  margin: 1rem;
}

.submit-button {
  font-size: 28px;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 10%;
}

.mic-button {
  font-size: 28px;
  padding: 0.5px;
  border: 1px solid #ccc;
  border-radius: 10%;
}

.chat-input {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  resize: none;
}

.chat-heading {
  font-family: "Tourney", cursive;
}
/* Responsive styles */
@media (max-width: 767px) {
  .chat-window {
    width: 90%;
    height: 87.5%;
  }

  .palette {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
  }

  .keyboard-button {
    align-self: flex-end;
    margin-top: 5px;
  }
}

/* Chat Page Style Ends */

model-viewer {
  width: 100%;
  height: 400px;
  background-color: #f5f5f5;
  --poster-color: #ffffff00;
}

canvas {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  display: block;
}

#overlay-content {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 5rem;
  pointer-events: none;
}

.dom-container {
  position: absolute;
  top: 10vh;
  width: 100%;
}

.web-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  gap: 1rem;
  padding: 1rem;
  overflow: auto;
  pointer-events: auto;
}

.whisper {
  border: 1px solid black;
  border-radius: 10%;
  font-size: medium;
  padding: 2px;
  margin-left: 1px;
}
