.navigationModal {
  background-color: white;
  position: absolute;
  border-radius: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  top: 5px;
  border: 1px solid black;
}

.navigationModal input {
  font-size: 20px;
  padding: 2px 2px;
  border-radius: 3px;
  margin: 10px;
}

.inputs {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
}

.navigate {
  align-items: center;
  margin-left: 10px;
  border-radius: 20%;
  padding: 5px;
  font-size: 70px;
  border: 1px solid rgb(149, 149, 149);
}

.navigate:hover {
  cursor: pointer;
  border: 1px solid black;
}

.panBack {
  position: absolute;
  font-size: 40px;
  bottom: 5px;
  right: 5px;
  color: rgb(116, 0, 0);
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .navigationModal {
    width: 90%;
  }

  .navigate {
    font-size: 30px;
  }

  .panBack {
    font-size: 20px;
  }

  .navigationModal input {
    font-size: 10px;
    padding: 3px 4px;
    border-radius: 3px;
    margin: 5px;
  }
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .navigationModal {
    width: 90%; /* Adjusted for mobile devices */
  }

  .navigate {
    font-size: 50px; /* Adjusted for mobile devices */
  }

  .panBack {
    font-size: 20px; /* Adjusted for mobile devices */
  }

  .navigationModal input {
    font-size: 16px; /* Adjusted for mobile devices */
    padding: 5px 6px; /* Adjusted for mobile devices */
    margin: 5px; /* Adjusted for mobile devices */
  }
}
