#root {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
}

#overlay-content {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 5rem;
  pointer-events: none;
}

.dom-container {
  position: absolute;
  bottom: 8vh;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  overflow: auto;
  pointer-events: auto;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border-style: none;
  color: white;
  background-color: rgba(255, 127, 80, 0.7);
  cursor: pointer;
}

.button.active {
  background-color: rgba(255, 127, 80, 1);
}

.XRContainer {
  width: 40vw;
  height: 60vh;
  background-color: #c3e2ff;
  position: relative;
}

.arButton {
  margin: 0;
  box-sizing: border-box !important;
  border: none !important;
  outline: none !important;
  width: fit-content !important;
  min-width: 120px !important;
  padding: 12px 20px !important;
  border-radius: 50px !important;
  font-size: 1rem !important;
  cursor: pointer !important;
  transition: all 0.1s ease-in-out !important;
  background-color: var(--primary) !important;
  color: #fff !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  font-family: "DM Sans", sans-serif !important;
  position: absolute;
  bottom: 20px;
  left: 25%;
}
.arButton:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

@media (max-width: 767px) {
  .XRContainer {
    width: 100vw;
    height: 75vh;
  }
  .arButton {
    left: 10%;
  }
}
